openapi: 3.1.0
info:
  title: GitHub Learning Tracker Direct Action
  version: 1.0.0
  description: Minimal direct GitHub API access for reading and updating learning tracker files and creating blocker issues.
servers:
  - url: https://api.github.com
paths:
  /repos/{owner}/{repo}/contents/{path}:
    get:
      operationId: getRepositoryContent
      summary: Get a file or directory from the learning tracker repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Repository content response from GitHub.
    put:
      operationId: createOrUpdateFile
      summary: Create or update a file in the learning tracker repository. Content must be Base64 encoded. Existing files require sha.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
                - content
              properties:
                message:
                  type: string
                content:
                  type: string
                  description: Base64 encoded file content.
                sha:
                  type: string
                  description: Required when updating an existing file.
                branch:
                  type: string
      responses:
        '200':
          description: File updated.
        '201':
          description: File created.
  /repos/{owner}/{repo}/issues:
    post:
      operationId: createIssue
      summary: Create a blocker or follow-up issue in the learning tracker repository.
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                body:
                  type: string
                labels:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Issue created.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
